* {
  box-sizing: border-box;
}

#root {
  background-color: rgb(26, 26, 26);
}

h1 {
  color: rgb(95, 196, 255);
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}


.note {
  color: white;
  font-size: 15px;
  list-style: none;
  box-shadow: 5px 5px 5px gray;
  width: 25%;
  min-width: 210px;
  background-color: #00AAFF;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.btn-danger, .btn-primary {
  float: right;
}

.card-title {
  overflow: auto;
}