* {
  box-sizing: border-box;
}

h1 {
  color: rgb(20, 71, 20);
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}


.note {
  color: gray;
  padding: 3px;
  font-size: 15px;
  list-style: none;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.btn-danger, .btn-primary {
  float: right;
}